@import "colors.css";

/* ============================================
   GLOBAL STYLES AND THE BAR ITSELF
   ============================================ */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 500;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

window#waybar > box {
    background: rgba(20, 18, 24, 0.6);
    margin: 6px 6px 0 6px;
    border: 2px solid @primary;
    border-radius: 8px;
}

/* These modules use the primary color*/
#custom-launcher, #custom-wallpaper, #custom-quick-actions, #custom-notification, #mpris {
    background: @primary;
    color: @on_primary;
    padding: 4px 10px;
    margin: 4px 2px 4px 4px;
    border-radius: 8px;
}

/* Color pattern: secondary - tertiary - secondary*/

#cpu, #custom-memory-gpu, #network, #temperature, #custom-disk, #custom-ime, #clock, #custom-weather, #pulseaudio, #network.wifi {
    color: @on_surface;
    padding: 4px 10px;
    margin: 4px 2px;
    border-radius: 8px;
}

#cpu, #network, #custom-disk, #custom-ime, #custom-weather, #network.wifi {
    background: @on_secondary_fixed;
    color: @secondary;
}

#custom-memory-gpu, #temperature, #clock, #pulseaudio {
    background: @on_tertiary_fixed;
    color: @tertiary;
}

/* workspaces */

#workspaces {
    background: transparent;
    margin: 4px 2px;
}

#workspaces button {
    background: @inverse_primary;
    color: @scrim;
    padding: 4px 8px;
    margin: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    min-height: 0;
    min-width: 0;
}

/* These are here to make the first/last workspace rouned */
#workspaces button:first-child { border-radius: 8px 0 0 8px; }
#workspaces button:last-child { border-radius: 0 8px 8px 0; }

#workspaces button.empty {
    background: @surface_container_high;
    color: @outline;
    font-weight: 700;
}

#workspaces button:hover {
    background: @inverse_surface;
    color: @shadow;
    font-weight: 700;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    padding: 4px 12px;
    font-weight: 700;
}

#workspaces button.active:hover {
    background: @primary;
    color: @on_primary;
    font-weight: 700;
}

/* power button */

#custom-power {
    background: #E08290;
    color: @on_error;
    padding: 4px 10px;
    margin: 4px 4px 4px 2px;
    border-radius: 6px;
}

/* tooltips */

tooltip {
    background: @surface_container;
    border: 2px solid @primary;
    border-radius: 8px;
    color: @on_surface;
}

tooltip label {
    color: @on_surface;
    padding: 5px;
}
